.search-area {
    width: 100%;
}

.form {
    display: flex;
    margin: 0 auto 3rem auto;
}

.form-control {
    font-size: .75rem;
}

.input-field {
    flex: 4;
    margin-right: 1rem;
}

.search-button {
    flex: 1;
    background-color: #FF5254;
    border: none;
    height: calc(1.5em + .75rem + 2px);
    font-size: .75rem;
}

.btn:focus {
    box-shadow: 0 0 0 0.1rem rgba(255, 82, 84, .5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle,
.btn:hover,
.btn-primary:focus {
    background-color:hsl(359, 100%, 62%);
    border-color: #FF5254;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus {
box-shadow: 0 0 0 0.1rem rgba(255, 82, 84, .5)
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #FF5254;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(255, 82, 84, .5);
}

@media screen and (max-width: 481px) {

    .container {
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .form {
        display: block;
    }
}