/* ============================
COLORS
blue: #5CACC4
green: #CEE879
gold: #FCB653
pink: #FF5254
============================ */

.Navbar {
    background-color: #FF5254 !important;
    font-size: .5rem !important;
    font-family: 'Roboto';
    font-weight: 700;
    color: #fff !important;
    padding: 0 0 0 15px !important;
    border-bottom: 5px #CEE879 solid;
    flex-shrink: 0;
}

.Navbar img {
    /* animation: App-logo-spin infinite 10s linear; */
    margin: .25rem;
    height: 1.5rem;
    width: auto;
}

.navbar-brand {
    font-size: .75rem;
    max-width: 100%;
    max-width: 50vw;
}

@media (max-width: 400) {
    .navbar-brand {
        font-size: .75rem !important;
    }
}