/* ============================
COLORS
blue: #5CACC4
green: #CEE879
gold: #FCB653
pink: #FF5254
============================ */

body {
  background-color: #FCB653;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
